@page "/login"
@inject NavigationManager Navigation

<PageTitle>Login</PageTitle>

<h1>Login</h1>

<p>Log in or create an account using Discord.</p>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Discord</h5>
                <p class="card-text">Use your Discord account to sign in or register.</p>
                <a href="https://localhost:55556/Auth/Discord/Login" class="btn btn-primary" style="background-color: #5865F2; border-color: #5865F2;">
                    <i class="bi bi-discord"></i> Login with Discord
                </a>
            </div>
        </div>
    </div>
</div>
