<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <packageSources>
        <clear/>

        <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>

        <!--
            additional sources go here

            example:

                <add key="github.com" value="https://nuget.pkg.github.com/{OWNER}/index.json"/>
        -->
    </packageSources>

    <activePackageSource>
        <add key="All" value="(Aggregate Source)"/>
    </activePackageSource>

    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*"/>
        </packageSource>


        <!--
            additional source mappings go here

            example:

                <packageSource key="github.com">
                    <package pattern="GitHub.*"/>
                </packageSource>
        -->
    </packageSourceMapping>


    <auditSources>
        <clear />

        <!-- configure audit sources so that NuGet Audit fetches vulnerability data only from nuget.org -->

        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </auditSources>

</configuration>
