<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="DAWNBRINGER.WebPortal.UI.styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap" rel="stylesheet">
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script>
        window.auth = {
            save: (key, value) => localStorage.setItem(key, value),
            load: (key) => localStorage.getItem(key),
            remove: (key) => localStorage.removeItem(key)
        };
    </script>
</body>

</html>
