<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
        <meta name="color-scheme" content="dark light" />
        <meta name="description" content="Project KONGOR user portal for accounts, downloads, documentation, security, and community." />
        <meta name="theme-color" content="#0d1610" />
        <base href="/" />
        <link rel="icon" type="image/png" href="images/logo.png" />

        <PageTitle>Project KONGOR</PageTitle>
        <HeadOutlet @rendermode="Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer" />

        <link href="@Assets["_content/MudBlazor/MudBlazor.min.css"]" rel="stylesheet" />
        <link href="@Assets["css/fonts.css"]" rel="stylesheet" />
    </head>

    <body>
        <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
        <script src="_framework/blazor.web.js"></script>
        <script src="@Assets["_content/MudBlazor/MudBlazor.min.js"]"></script>
    </body>

</html>
